@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  background-color: hsl(204deg, 43%, 93%);
  color: black;
}

.main-container {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  height: 800px;
  box-shadow: 1px 10px 10px 10px rgba(202, 202, 212, 0.2);
  border-radius: 20px;
  color: black;
}

.top {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  height: 280px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top span {
  color: hsl(71deg, 73%, 54%);
  line-height: 1.8;
}

.top p {
  color: hsl(218deg, 22%, 67%);
}

h1 {
  color: hsl(179deg, 62%, 43%);
  font-size: 22px;
  font-weight: normal;
}

p {
  line-height: 1.8;
}

.wrapper {
  color: white;
  height: 225px;
}

.wrapper div {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.subscription {
  background-color: hsl(179deg, 62%, 43%);
  height: 220px;
}

.subscription span {
  font-size: 32px;
  font-family: sans-serif, "Outfit";
  font-stretch: expanded;
  padding-right: 10px;
}

.subscription p {
  color: hsl(204deg, 43%, 93%);
}

.subscription-btn {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  background-color: hsl(71deg, 73%, 54%);
  box-shadow: 1px 7px 7px 7px hsl(176deg, 54%, 42%);
  border-radius: 10px;
  border: none;
}

.subscription-btn:hover {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.subscription #month {
  color: hsl(178deg, 50%, 69%);
  font-size: 16px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

.why-us {
  line-height: 0;
  height: 225px;
  background-color: hsl(178deg, 44%, 53%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.why-us p {
  line-height: 1.5;
  color: hsl(178deg, 45%, 76%);
}

h3 {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 765px;
    height: 575px;
  }
  .top {
    height: 230px;
    padding-top: 20px;
  }
  .top h1 {
    font-size: 30px;
  }
  .top span {
    font-size: 20px;
  }
  .top p {
    padding-top: 0px;
    margin-top: 5px;
    font-size: 20px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 315px;
  }
  .subscription {
    height: 285px;
    border-bottom-left-radius: 10px;
  }
  .subscription h2 {
    font-size: 22px;
    padding-top: 20px;
    padding-left: 30px;
  }
  .subscription span {
    padding-left: 30px;
  }
  .subscription #month {
    padding-left: 5px;
  }
  .subscription p {
    font-size: 18px;
    padding-left: 30px;
  }
  .subscription-btn {
    width: 270px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .why-us {
    height: 285px;
    border-bottom-left-radius: 0px;
    padding: 20px;
  }
  .why-us h3 {
    font-size: 22px;
    padding-top: 30px;
    padding-left: 30px;
  }
  .why-us p {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=index.css.map */
